body{
	background-color: #745978;
	font-family: Comic Sans MS;
}
.article {
	width: 90%;
	background-color: #ca99d1;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	letter-spacing: 1px;
	font-size: 16px;
	overflow: hidden;
	border-radius: 25px;
}
ul {
	margin-left: 10%;
	margin-right: 5%;
}
img {
	position: absolute;
	height: 60%;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
ul {
	list-style-type: none;
	display: inline-block;	
}
hr {
	color: #745978;
}
h3 {
	font-size: 25px;
	font-style: strong;
	font-family: verdana;
}
a {
	font-family: verdana;
	text-decoration: none;
	color: black;
}
a.current-page {
	color: black;
}

a:hover {
	color: white;
}
button{
    background-color: #745978;
    color: white;
	margin-bottom: 5%;
    padding: 3px 6px;
	margin: 3px 3px;
    text-align: center;
	border: none;
	font-family: Comic Sans MS;
}
character{
	z-index: 0;   
}
.hat{
	visibility: hidden;
	z-index: 9;
}
.hair{
	visibility: hidden;
	z-index: 8;
}
.eyes{
	visibility: hidden;
	z-index: 7;
}
.neck{
	visibility: hidden;
	z-index: 6;
}
.gloves{
	visibility: hidden;
	z-index: 5;
}
.top{
	visibility: hidden;
	z-index: 4;
}
.shoes{
	visibility: hidden;
	z-index: 3;
}
.pants{
	visibility: hidden;
	z-index: 2;
}
.socks{
	visibility: hidden;
	z-index: 1;
}